<footer
  class="container-fluid bg-light p-5"
  style="font-family: Georgia, 'Times New Roman', Times, serif"
>
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h6>Giới Thiệu</h6>
        <hr
          class="border border-success border-2 opacity-75"
          style="width: 50px"
        />
        <p>
          Không đơn thuần là cửa hàng cây hoa,
          <strong>FO</strong> ra đời với mong muốn cung cấp những sản phẩm hoa
          chất lượng, ý nghĩa và đa dạng mẫu mã nhất phục vụ nhu cầu khách hàng
        </p>
      </div>

      <div class="col-md-4">
        <h6>Hỗ Trợ Khách Hàng</h6>
        <hr
          class="border border-success border-2 opacity-75"
          style="width: 50px"
        />
        <ul class="list-unstyled">
          <li>
            <a href="#" class="text-decoration-none text-dark"
              >Chính Sách Khách Hàng Thân Thiết</a
            >
          </li>
          <li>
            <a href="#" class="text-decoration-none text-dark"
              >Hướng dẫn đặt hàng</a
            >
          </li>
          <li>
            <a href="#" class="text-decoration-none text-dark"
              >Bảo hành & Đổi trả</a
            >
          </li>
          <li>
            <a href="#" class="text-decoration-none text-dark"
              >Quy định giao hàng</a
            >
          </li>
          <li>
            <a href="#" class="text-decoration-none text-dark"
              >Hướng dẫn thanh toán</a
            >
          </li>
        </ul>
      </div>

      <div class="col-md-3">
        <h6>Liên Hệ</h6>
        <hr
          class="border border-success border-2 opacity-75"
          style="width: 50px"
        />
        <div
          class="p-3 text-white rounded"
          style="background-color: rgb(124, 180, 156)"
        >
          <p>
            <i class="bi bi-geo-alt"></i> 479/38 Phan Văn Trị, P.5, Gò Vấp, HCM
          </p>
          <p><i class="bi bi-telephone"></i> +84 905 187 357</p>
          <p><i class="bi bi-envelope"></i> contact@9xFo.com</p>
          <p><i class="bi bi-globe"></i> www.9xFo.com</p>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center">Copyright by @FO</div>
</footer>
